<%= image_tag 'hr.svg', class: 'footer-image' %>
<div class="license center">
  This work is licensed under a
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
  Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br>
  Copyright &copy; <%= Time.now.year %> Tad Thorley
</div>
<br>
<br>
