<nav id="nav">
  <%= link_to image_tag('logo.png'), root_path, id: 'logo' %>
  <div id='nav-links'>
    <%= link_to 'portfolio', '#' %>
    <%= link_to 'blog', '#' %>
    <%= link_to 'additional', additional_path %>
  </div>
</nav>
