<% @title = 'Additionally Online' %>
<p>
  <a href="https://github.com/phaedryx"><i class="fa fa-github-alt"></i></a> I
  put a lot of code up on <a href="https://github.com/phaedryx">Github</a>, but
  most of it is simple projects I used to explore new ideas. My most popular
  project is a <a href="https://github.com/phaedryx/limechat-solarized-theme">Solarized
  theme for Limechat</a>. I also created a <a href="https://github.com/phaedryx/mukluk-syntax">Mukluk
  theme</a> for the <a href="https://atom.io/">Atom</a> text editor and a
  <a href="https://github.com/phaedryx/trout">similar theme</a> for the “fish”
  shell.
</p>

<p>
  <a href="https://www.linkedin.com/in/tadthorley"><i class="fa fa-linkedin-square"></i></a>
  I am on <a href="https://www.linkedin.com/in/tadthorley">LinkedIn</a>, but I
  tend to update it only when I switch jobs.
</p>

<p>
  <a href="https://twitter.com/phaedryx"><i class="fa fa-twitter"></i></a> I only
  <a href="https://twitter.com/phaedryx">tweet</a> a few times each week, but I
  try to make them worth reading.
  <a href="https://twitter.com/phaedryx/status/123434707164729344">This</a> is
  my most popular tweet, for what that’s worth. I am actually most proud of
  <a href="https://twitter.com/mjackson/status/469137307576963072">this tweet</a>
  that introduced Michael Jackson to the React Router that Ryan Florence had
  started.
</p>

<p>
  <a href="https://plus.google.com/+TadThorley"><i class="fa fa-google-plus-square"></i></a>
  I have a <a href="https://plus.google.com/+TadThorley">Google Plus</a> account,
  but I use it primarily to play <a href="https://www.ingress.com/">Ingress</a>.
</p>
