body {
  border-top: 2px solid $gray6;
  background: #FEFFFE;
  color: $gray6;
  font-family: "Source Sans Pro", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
}
pre, code {
  font-family: "Source Code Pro", monospace;
}
#page {
  margin-top: 4em;
  aside {
    position: absolute;
    color: $gray4;
    left: -196px;
    width: 180px;
    margin-top: 5px;
    text-align: right;
    font-family: "Libre Baskerville", serif;
  }
}
#index {
  margin-top: 10px;
}
#nav {
  font-family: "Libre Baskerville", serif;
  position: relative;
  margin-bottom: 2em;
  padding: 0.5em 0;
  font-size: 1em;
  border-bottom: 2px solid $gray6;
  #logo {
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    img {
      height: 2em;
      width: 2em;
    }
  }
  #nav-links {
    bottom: 0.75em;
    right: 0rem;
    position: absolute;
    a {
      color: $gray6;
      margin-left: 1em;
    }
    a.selected {
      border-bottom: 1px solid $gray6;
    }
    a:hover {
      border-bottom: 1px solid $blue-jeans;
    }
  }
}
.post-title {
  h1 {
    font-size: 1.8rem;
    text-align: right;
    margin-bottom: 1rem;
    margin-top: 10px;
    border-top: 2px solid $gray6;
    padding-top: 10px;
  }
  .date {
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: right;
  }
  nav {
    text-align: right;
  }
}

// @media #{$small-only} {
//   #container {
//     padding: 0;
//     margin: 0;
//   }
//   #page {
//     padding: 0;
//     margin: 0 2em;
//   }
// }

.license {
  font-size: 0.9rem;
}

.categories, .date {
  font-size: 0.9rem;
}
ul.unadorned {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.post {
  color: $gray6;
}
.footer-image {
  width: 100%;
  margin-top: 1em;
}
